*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    background-color: blueviolet;
    color: white;
}

.hero{
    background: url("../images/Camisas.png")center/cover;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    
}

footer{
    text-align: center;
    color: white;
    background-color: rgb(50, 50, 50);
}

/* Esto es un comentario en CSS */